  <h1>Create a New Player Character</h1>
  <div class='form-container m-2'>
    <div class="form-group m-2 text-center">
      <label for="#name"><%= resource.class.name.titleize %> Name <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :name, placeholder: "#{resource.class.name.titleize} Name", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#race"><%= resource.class.name.titleize %> Race <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :race, placeholder: "#{resource.class.name.titleize} Race", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#race"><%= resource.class.name.titleize %>Class <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :character_class, placeholder: "#{resource.class.name.titleize} Class", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#character_sheet_url">Character Sheet Url</label>
      <%= form.text_field :sheet_url, placeholder: "Sheet Url", class: "form-control" %>
    </div>
    <% if resource.is_a?(PlayerCharacter) %>
      <div class="form-group m-2 text-center">
        <label for="#level"><%= resource.class.name.titleize %>Level <sup class='text-danger'>* required</sup></label>
        <%= form.select :level, options_for_select(1..20, resource.level || 1), {include_blank: 'Level'}, {class: 'form-control',} %>
      </div>
    <% end %>

   <div class="form-group m-2 text-center">
      <div class='stat-container'>
        <div class='stat m-2'>
          <label for="#alignment_id">Alignment</label>
          <%= form.collection_select :alignment_id, Alignment.all, :id, :name, {include_blank: 'Select Alignment'}, {multiple: false, class: 'form-control stat-select'} %>
        </div>
        <div class='stat m-2'>
          <label for="#size_category_id">Size</label>
          <%= form.collection_select :size_category_id, SizeCategory.all, :id, :name, {include_blank: 'Select Size'}, {multiple: false, class: 'form-control stat-select'} %>
        </div>
        <div class='stat m-2'>
          <label for="#monster_type_id">Type</label>
          <%= form.collection_select :monster_type_id, MonsterType.all, :id, :name, {include_blank: 'Select Type'}, {multiple: false, class: 'form-control stat-select'} %>
        </div>
        <% if resource.is_a?(NonPlayerCharacter) %>
          <div class='stat m-2'>
            <label for="#challenge_rating">Challenge Rating</label>
            <%= form.text_field :challenge_rating, {class: 'form-control',} %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group m-2 text-center">
      <label><%= resource.class.name.titleize %>Stats</label>
      <div class='stat-container'>
        <div class='stat m-2'>
          <label for="#strength">Strength <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :strength, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#dexterity">Dexterity <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :dexterity, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#constitution">Constitution <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :constitution, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
      </div>
      <div class='stat-container'>
        <div class='stat m-2'>
          <label for="#intelligence">Intelligence <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :intelligence, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#wisdom">Wisdom <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :wisdom, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#charisma">Charisma <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :charisma, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
      </div>

      <div class="image-upload">
        <% if resource.icon.attached? %>
          <%= image_tag resource.icon.variant(resize: "150 x 150") %>
        <% end %>
        <%= form.file_field :icon, multiple: false, accept: 'image/png,image/gif,image/jpeg' %>
      </div>
    </div>

    <div class="form-group m-1 text-center">
      <%= form.submit  class: 'btn btn-primary' %>
    </div>
  </div>