<div class='page-wrapper PlayerCharacter'>
  <div class='header text-center'>
    <h1><%= resource.name %></h1>
    <% if resource.icon.attached? %>
      <%= image_tag resource.icon.variant(resize: "200 x 200") %>
    <% end %>
    <p><%= "Level #{resource.level} #{resource.race} #{resource.character_class}" %></p>
  </div>
  <div class="page-header-end pb-2">
    <% if resource.is_a?(PlayerCharacter) %>
      <%= link_to 'Edit', edit_campaign_player_character_path(@campaign, resource), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Edit', edit_campaign_non_player_character_path(@campaign, resource), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="body">
    <div class="card-group pb-2">
      <div class="double-card card">
        <div class="card-header text-center">
          <h2>Character Statistics</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% resource.character_stats.each do |k, v| %>
              <li class="list-group-item"><%= "#{k.titlecase}: #{v}" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="double-card card">
        <div class="card-header text-center">
          <h2>Character Info</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
          </ul>
        </div>
      </div>
    </div>
    <div class="single-card card text-center">
      <% if resource.sheet_url.present? %>
        <iframe class="character-sheet-frame" src="<%= resource.sheet_url %>" frameborder="0"></iframe>
      <% else %>
        <p>No character sheet attached</p>
      <% end %>
    </div>
  </div>
</div>