<% if !rows.blank? %>
  <div class="table-wrapper d-flex">
    <table class='table table-bordered table-striped shared-table'>
      <thead>
        <% headers.each do |key|%>
          <th><%= key %></th>
        <% end %>
        <th>actions</th>
      </thead>
        <tbody>
          <% rows.each do |row| %>
              <tr>
            <% row.attributes.each do |k,v| %>   
              <td>
              <% if k.in?(%w[created_at updated_at]) %>
                <p><%= v.localtime.to_time.strftime('%m/%d/%Y %I:%M %p') %></p>
              <% else %>
                <p><%= v&.truncate(100) %></p>
              <% end %>
              </td>
            <% end %>
            <td>
              <div class="btn-group">
                <%= link_to 'View', "/campaigns/#{row.campaign_id}/#{model.name.underscore.pluralize}/#{row.id}", class: "btn btn-primary" %>
                <%= link_to 'Edit', "/campaigns/#{row.campaign_id}/#{model.name.underscore.pluralize}/#{row.id}/edit", class: "btn btn-secondary" %>
              </div>
            </td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
<% else %>
<div>
  <p>There are no <%= model.name.titlecase.pluralize %> attached to this campaign</p>
</div>
<% end %>