<%= form_with model: @player_character, url: params[:id] ? campaign_player_character_path(@campaign, @player_character) : campaign_player_characters_path(@campaign), local: true, class: 'PlayerCharacterForm' do |form| %>
  <h1>Create a New Player Character</h1>

  <div class='form-container m-2'>
    <div class="form-group m-2 text-center">
      <label for="#name">Player Character Name <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :name, placeholder: "Player Character Name", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#race">Player Character Race <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :race, placeholder: "Player Character Race", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#race">Player Character Class <sup class='text-danger'>* required</sup></label>
      <%= form.text_field :character_class, placeholder: "Player Character Class", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#character_sheet_url">Character Sheet Url</label>
      <%= form.text_field :sheet_url, placeholder: "Character Sheet Url", class: "form-control" %>
    </div>

    <div class="form-group m-2 text-center">
      <label for="#level">Player Character Level <sup class='text-danger'>* required</sup></label>
      <%= form.select :level, options_for_select(1..20, @player_character.level || 1), {include_blank: 'Level'}, {class: 'form-control',} %>
    </div>

    <div class='stat m-2'>
      <label for="#alignment_id">Alignment</label>
      <%= form.collection_select :alignment_id, Alignment.all, :id, :name, {include_blank: 'Select Alignment'}, {multiple: false, class: 'form-control stat-select'} %>
    </div>
    <div class='stat m-2'>
      <label for="#size_category_id">Size</label>
      <%= form.collection_select :size_category_id, SizeCategory.all, :id, :name, {include_blank: 'Select Size'}, {multiple: false, class: 'form-control stat-select'} %>
    </div>

    <div class="form-group m-2 text-center">
      <label>Player Character Stats</label>
      <div class='stat-container'>
        <div class='stat m-2'>
          <label for="#strength">Strength <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :strength, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#dexterity">Dexterity <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :dexterity, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#constitution">Constitution <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :constitution, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
      </div>
      <div class='stat-container'>
        <div class='stat m-2'>
          <label for="#intelligence">Intelligence <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :intelligence, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#wisdom">Wisdom <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :wisdom, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
        <div class='stat m-2'>
          <label for="#charisma">Charisma <sup class='text-danger'>* required</sup></label>
          <%= form.number_field :charisma, {class: 'form-control stat-select', min: 0, max: 30} %>
        </div>
      </div>

      <div class="image-upload">
        <% if @player_character.icon.attached? %>
          <%= image_tag @player_character.icon.variant(resize: "150 x 150") %>
        <% end %>
        <%= form.file_field :icon, multiple: false, accept: 'image/png,image/gif,image/jpeg' %>
      </div>
    </div>

    <div class="form-group m-1 text-center">
      <%= form.submit  class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>