<div class='Campaign'>
  <div class='header text-center'>
    <h1><%= @campaign.title %></h1>
  </div>
  <div class='body'>
    <div class='card bg-light border rounded border-secondary m-1'>
      <div class='card-header'>
        <h2>Sessions</h2>
      </div>
    </div>
    <div class='card bg-light border rounded border-secondary m-1'>
      <div class='card-header'>
        <h2>Campaign Details</h2>
      </div>
      <div class='card-body'>
        <div>
          <%= link_to 'Player Characters', campaign_player_characters_path(@campaign), class: 'card-link' %>
        </div>
        <div>
          <%= link_to 'Non-Player Characters', campaign_non_player_characters_path(@campaign), class: 'card-link' %>
        </div>
        <div>
          <%= link_to 'Cities', campaign_cities_path(@campaign), class: 'card-link' %>
        </div>
        <div>
          <%= link_to 'Factions', campaign_factions_path(@campaign), class: 'card-link' %>
        </div>
        <div>
          <%= link_to 'Storylines', campaign_storylines_path(@campaign), class: 'card-link' %>
        </div>
        <div>
          <%= link_to 'Quests', campaign_quests_path(@campaign), class: 'card-link' %>
        </div>
      </div>
    </div>
  </div>
</div>