<div class='Campaign'>
  <div class='header text-center'>
    <h1><%= @campaign.title %></h1>
  </div>
  <div class='body'>
    <div class='card bg-dark border rounded border-secondary m-1'>
        <%= button_to '+ Add New', new_campaign_player_character_path(@campaign), method: :get, class: 'btn btn-link btn-sm new-button' %>
      <div class='card-header'>
        <h3>Player Characters</h3>
      </div>
      <div class='d-flex justify-content-around'>
      <% @campaign.player_characters.each do |char| %>
        <%= link_to char.name, campaign_player_character_path(@campaign, char), class: 'link m-1' %>
        <%= link_to 'edit', edit_campaign_player_character_path(@campaign, char), class: 'link m-1' %>
      <% end %>
      </div>
    </div>
    <div class='card bg-dark border rounded border-secondary m-1'>
      <%= button_to '+ Add New', new_campaign_non_player_character_path(@campaign), method: :get, class: 'btn btn-link btn-sm new-button' %>
      <div class='card-header'>
        <h3>Non-Player Characters</h3>
      </div>
      <div class='d-flex justify-content-around'>
      <% @campaign.non_player_characters.each do |npc| %>
        <%= link_to npc.name, campaign_non_player_character_path(@campaign, npc), class: 'link m-1' %>
        <%= link_to 'edit', edit_campaign_non_player_character_path(@campaign, npc), class: 'link m-1' %>
      <% end %>
      </div>
    </div>
    <div class='card bg-dark border rounded border-secondary m-1'>
      <div class='card-header'>
        <h3>Factions</h3>
      </div>
    </div>
    <div class='card bg-dark border rounded border-secondary m-1'>
      <div class='card-header'>
        <h3>Cities</h3>
      </div>
    </div>
    <div class='card bg-dark border rounded border-secondary m-1'>
      <div class='card-header'>
        <h3>Storylines</h3>
      </div>
    </div>
    <div class='card bg-dark border rounded border-secondary m-1'>
      <div class='card-header'>
        <h3>Quests</h3>
      </div>
    </div>
  </div>
</div>